/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: steelblue; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button
{
  border-style: double; 
  border-radius: 10px; 
  border-color: black; 
  border: 10px;
}