body {
    background-color: steelblue;
    padding-bottom: 20px;
    height: 90vh;
}

.settings-container {
    color: #FF5400;
    padding: 20px;
  }
  
  .section {
    padding: 20px;
    background-color: #f5f5f5;
    margin: 70px;
    border-radius: 8px;
  }
  
  h2 {
    background-color: #FF5400;
    color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
  }

  .shade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1000; /* Ensure the popup is above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow effect */
    max-height: 75%;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
  button {
    background-color: steelblue;
    color: #f5f5f5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .settings-section {
    margin-bottom: 20px; /* Add some space between sections */
  }
  
  .toggle {
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .toggle-handle {
    width: 30px; /* Width of the handle */
    height: 30px; /* Height of the handle */
    background-color: white; /* Handle color */
    border-radius: 50%; /* Circle shape */
    position: absolute;
    left: 0; /* Initial position */
    transition: transform 0.3s ease; /* Smooth sliding animation */
  }
  
  
  .toggle.active .toggle-handle {
    left: 22px;
  }    

  .toggle-container {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .toggle-container label {
    margin-right: 10px;
  }
  
  .toggle {
    width: 60px; /* Width of the toggle */
    height: 30px; /* Height of the toggle */
    background-color: #ccc; /* Default background color */
    border-radius: 15px; /* Rounded corners */
    position: relative;
    cursor: pointer;
  }
  
  .toggle input[type="checkbox"] {
    display: none; /* Hide the checkbox */
  }
  

  .toggle-handle.active {
    transform: translateX(30px); /* Slide to the right when active */
  }
  .table-container {
    max-height: 50vh; /* Adjust the maximum height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  table {
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
  }
  thead
  {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td:first-child {
    text-align: left;
  }
  
  td {
    text-align: center;
  }
  